.App-menu {
    position: absolute;
    background-color: #252831;
    width: 300px;
    height: 100%;
    top:0;
    left:-300px;
    transition: left 300ms;
    overflow: hidden;
}

.App-scrollable-content {
    overflow-y: scroll;
    /* width: 105%; */
    height: 100%;
    /* padding-right: 17px; Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
    overflow-x: hidden;

}


.App-menu h1 {
    font-family: 'Poiret One', cursive;
    letter-spacing: 4px;
    text-align: center;    
    color: #fcfcfc;
}

.App-menu-close-btn {
    display: none;
}


@media only screen and (max-width: 1068px) {
  /* For tablet: */
  .App-menu {
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .App-menu {
        z-index: 1000;
    }

    .App-menu-close-btn {
        display: inline;
    }
    .App-menu-close-icn {
    }


}

