html, body, #root {
    height:100%;
    padding:0;
    margin:0;
}

.App {
    height: 100%;
    position: relative;
}


.App-header {
    background-color: #2a2b2d;
    padding: 20px;
    color: white;
    height: 20px;

}

.App-intro {
    font-size: large;
}

.App-body{
    display: flex;
    flex-direction: column;
    background-color: coral;
    height: 100%;
    transition: margin-left 300ms;
}

.App.menuOpened .App-body {
    margin-left:300px;
}

.App-menu{
    position: absolute;
    background-color: #252831;
    width: 300px;
    height:100%;
    top:0;
    left:-300px;
    transition: left 300ms;
}

.App.menuOpened .App-menu {
    left:0px;
}

.App-map {
    background-color: gold;
    width: 100%;
    height:100%;
    text-align: center;
}

.App-menu-items {
    color: #ddd;
    font-size: 120%;
    list-style: none;
    padding: 10px;
}

.App-title-search {
    color: #252831;
}

.App-search-container{
    /* display: inline; */
   align-content: center;
    background-color: dimgray;
}
h1{
    color: #fcfcfc;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}