@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body, #root {
    height:100%;
    padding:0;
    margin:0;
}

.App {
    height: 100%;
    position: relative;
}


.App-header {
    background-color: #2a2b2d;
    padding: 20px;
    color: white;
    height: 20px;
}

.App-header :hover {
    color: #0277BD;
}

.App-intro {
    font-size: large;
}

.App-body{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 100%;
    transition: margin-left 300ms;
}

.App.menuOpened .App-body {
    margin-left:300px;
}

.App-menu-btn {
    cursor: pointer;
}

.App.menuOpened .App-menu {
    left:0px;
}

.App.menuOpened .App-menu-btn {
    color: #0277BD;
}

.App-map {
    background-color: gold;
    width: 100%;
    height:100%;
    text-align: center;
    flex: 1 1 auto;
}

.map-overlay {
    display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .App.menuOpened .App-body {
        margin-left:0px;
    }

    .App.menuOpened {
        height: 100%;
        overflow: hidden;
    }

    .App.menuOpened .map-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6)

    }
}


